.Home {
}

.Home__heading {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.Home__links {
    /* margin: 2rem auto; */
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 420px; */
}

/* / */

.HomeLink {
    pointer-events: auto;
    display: block;
    position: relative;
    padding: 1.5rem 1rem;
    width: 100%;
    text-decoration: none;
    color: rgb(0 0 0 / 1);
}

.HomeLink__prefix {
    position: absolute;
    z-index: 3;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 0.7rem;
}

.HomeLink__symbol {
    z-index: 3;
    position: relative;
    text-align: center;
}

.HomeLink__label {
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}


